.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}

button {
  margin: 10px;
}

.result {
  border: black 2px solid;
}

.assign {
  text-align: center;
}

.clear {
  text-align: center;
}

.findWeather {
  background-color: brown;
  height: 40px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

